#wrap {
  font: 14px/30px "微软雅黑";
  width: 1188px;
  margin: 0 auto;
  margin-top: 20px;
}

.headerNav .active a {
  color: #22c233;
}

#headerNavWrap {
  position: static;
  left: auto;
  top: auto;
}

.headerNav a {
  color: #fff;
}

.headerNav .active {
  background: #f6f6f6;
  font-weight: bold;
  cursor: default;
}

/*操作导航*/
.operationNav {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  font: 12px/30px "微软雅黑";
}

.operationNavContent {
  width: 1190px;
  margin: 0 auto;
}

.loginList {
  float: left;
}

.loginList li {
  float: left;
  padding: 0 5px;
}

.loginList li a {
  color: #666;
}

.loginList li a:hover {
  color: #f60;
}

.loginList li span {
  float: left;
  width: 1px;
  height: 13px;
  background-color: #ccd4df;
  margin-top: 10px;
}

.operationNavFunction {
  float: right;
}

.operationNavFunctionList {
  float: left;
}

.operationNavFunctionList > li {
  float: left;
  padding: 0 12px;
}

.operationNavFunctionList li a {
  color: #666;
}

.operationNavFunctionList li a:hover {
  color: #f60;
}

.operationNavFunctionList li .active {
  color: #f60;
}

.operationNavFunctionList .myOrder,
.operationNavFunctionList .websiteMap {
  position: relative;
  padding: 0 16px;
  z-index: 99;
}

.operationNavFunctionList .myOrder i,
.operationNavFunctionList .websiteMap i {
  transition: .5s;
  display: inline-block;
  width: 5px;
  height: 3px;
  background: url("../img/icon2.png") no-repeat -8px -13px;
  position: absolute;
  top: 15px;
  right: 5px;
}

.operationNavFunctionList .myOrder:hover,
.operationNavFunctionList .websiteMap:hover {
  background-color: #fff;
  box-shadow: 0 0 1px #ddd;
}

.operationNavFunctionList .myOrder:hover .myOrderList,
.operationNavFunctionList .websiteMap:hover .websiteMapList {
  display: block;
}

.operationNavFunctionList .myOrder:hover i,
.operationNavFunctionList .websiteMap:hover i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.operationNavFunctionList .myOrderList {
  width: 82px;
  position: absolute;
  top: 30px;
  left: -1px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-top: none;
  text-align: center;
  display: none;
}

/*网站地图*/
.websiteMapList {
  display: none;
  position: absolute;
  top: 29px;
  left: -985px;
  width: 1188px;
  border: 1px solid #ddd;
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 5px 5px 1px #ddd;
}

.websiteMapList > li {
  float: left;
  height: 190px;
  border-left: 1px solid #ddd;
  padding: 0 40px;
}

/*去旅游*/
.websiteMapList li > * {
  float: left;
}

.websiteMapList li strong {
  font: bold 16px/2 '微软雅黑';
  margin-right: 40px;
}

.websiteMapList .goForAtravel {
  border-left: none;
}

.websiteMapList .goForAtravel strong {
  color: #2e9900;
}

.goForAtravel .goForAtravelContent > li {
  float: left;
  width: 90px;
  text-align: center;
}

.goForAtravelContent li li {
  height: 31px;
}

.goForAtravelContent li:nth-of-type(1) em,
.goForAtravelContent li:nth-of-type(2) em {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 5px;
}

.goForAtravelContent li:nth-of-type(1) em {
  background: url("../img/icon2.png") no-repeat -41px -9px;
}

.goForAtravelContent li:nth-of-type(2) em {
  background: url("../img/icon2.png") no-repeat -61px -9px;
}

/*寻优惠*/
.websiteMap .queryDiscount strong {
  color: #f69100;
}

/*看攻略*/
.websiteMap .readRaiders strong {
  color: #02609d;
}

/*查服务*/
.websiteMap .searchService strong {
  color: #bf4b56;
}

/*导航头部小图标*/
.operationNavContent .operationNavIcon {
  float: right;
}

.operationNavContent .operationNavIcon li {
  float: left;
  padding: 0 13px;
}

.operationNavIcon a {
  display: block;
}

/*微博*/
.operationNavIcon .microBlog {
  margin-top: 10px;
}

.operationNavIcon .microBlog:hover a {
  background: url("../img/icon2.png") no-repeat -86px -49px;
}

.operationNavIcon .microBlog a {
  width: 18px;
  height: 13px;
  background: url("../img/icon2.png") no-repeat -40px -50px;
}

/*APP*/
.operationNavIcon .APP {
  height: 30px;
  position: relative;
}

.operationNavIcon .APP:hover,
.operationNavIcon .weChat:hover {
  background-color: #fff;
  box-shadow: 0 0 1px #ddd;
}

.operationNavIcon .APP:hover div,
.operationNavIcon .weChat:hover div {
  display: block;
}

.operationNavIcon .APP:hover a {
  height: 18px;
  margin-top: 7px;
  background: url("../img/icon2.png") -24px -49px;
}

.operationNavIcon .APP a {
  width: 11px;
  height: 30px;
  background: url("../img/iphone.gif") -10px 0px;
}

.operationNavIcon .APP div {
  display: none;
  position: absolute;
  top: 30px;
  right: -30px;
}

/*微信*/
.operationNavIcon .weChat:hover a {
  background: url("../img/icon2.png") -92px -7px;
}

.operationNavIcon .weChat a {
  width: 18px;
  height: 14px;
  background: url("../img/icon2.png") -63px -49px;
  margin-top: 8px;
}

.operationNavIcon .weChat {
  height: 30px;
  position: relative;
}

.operationNavIcon .weChat div {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  box-shadow: 5px 5px 1px #ddd;
}

/*标题、Logo、搜索框、热线电话*/
.logoAndQuery {
  width: 100%;
  background-color: #fff;
}

.logoAndQueryContent {
  width: 1190px;
  margin: 0 auto;
}

.logoAndQueryContent > div {
  float: left;
}

/*logo*/
.logoAndQuery .websiteLogo {
  margin-right: 64px;
  height: 100px;
}

.logoAndQuery .websiteLogo img {
  margin-top: 10px;
}

/*搜索框*/
.queryBox {
  width: 486px;
  height: 40px;
  border: 3px solid #f80;
  margin: 30px 110px 0 0;
}

.queryBox > div {
  float: left;
}

.queryBox .queryAllType {
  width: 89px;
  font: 12px/34px "微软雅黑";
  text-align: center;

}

.queryBox .queryAllType > a {
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.queryBox .queryAllType a {
  color: #999;
  background-color: #fff;
}

.queryBox .queryAllTypeList li {
  box-shadow: 0 0 1px #ddd;
}

.queryAllType > a > i {
  transition: .5s;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 5px;
  background: url("../img/icon2.png") no-repeat -8px -19px;
}

.queryBox .queryAllTypeList {
  display: none;
  position: relative;
  z-index: 999;
}

.queryAllType:hover > a > i {
  transform: rotate(180deg);
}

.queryBox .queryAllType:hover .queryAllTypeList {
  display: block;
}

.queryAllTypeList li:hover a {
  background-color: #ddd;
  color: #333;
}

.queryBox .queryTextInput {
  position: relative;
}

.queryBox .queryTextInput input {
  width: 332px;
  border: none;
  height: 34px;
  text-indent: .5em;
}

.queryTextInput .localRecommend {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 0;
  font: 12px/2 "微软雅黑";
}

.queryTextInput .localRecommend a {
  float: left;
  width: 34px;
  height: 24px;
  text-align: center;
  color: #999;
  background-color: #f3f3f3;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.queryBox .queryButton {
  width: 59px;
  height: 34px;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.queryBox .queryButton button {
  width: 100%;
  height: 100%;
  background: #ff8800 url("../img/icon3.png") no-repeat 26px -175px;
  opacity: .9;
}

.queryBox .queryButton button:hover {
  opacity: 1;
}

/*客服*/
.customerService {
  width: 295px;
  height: 77px;
  margin-top: 6px;
  background: url("../img/site_contact_bg.png") no-repeat 0 26px;
}

.customerService a {
  display: inline-block;
  height: 36px;
  padding-left: 31px;
  background: url("../img/head_tel.png") no-repeat 0 4px;
  margin: 35px 15px 0 0;
  font: 12px/18px "微软雅黑";
  width: 80px;
  color: #9c9ba5;
}

.customerService a span {
  color: #22c233;
}

.customerService > span {
  display: inline-block;
  padding: 35px 0 0 30px;
  background: url("../img/tel.png") no-repeat 0 39px;
  font: 12px/18px "微软雅黑";
  color: #9c9ba5;
}

.customerService > span strong {
  color: #f60;
  font-weight: bold;
  display: block;
}

.customerService em {
  display: inline-block;
  width: 60px;
  height: 77px;
  background: url("../img/lin_small.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/*主导航*/
.mainNavWrap {
  width: 100%;
  height: 40px;
  background-color: #2dbb55;
  border-bottom: 40px solid transparent;
}

.mainNavWrap .mainNavWrapContentList {
  position: relative;
}

.mainNavWrap .mainNavWrapContentList li {
  float: left;
}

.mainNavWrap .mainNavWrapContent {
  width: 1190px;
  margin: 0 auto;
  font: 16px/40px "微软雅黑";
}

.mainNavWrapContentList li a {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

.mainNavWrapContentList > li a:hover {
  background: #4ecf5b;
  color: #fff;
}

.mainNavWrapContentList > li em {
  transition: .5s;
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 3px;
  background: url("../img/icon3.png") no-repeat -32px -456px;
}

.mainNavWrapContentList > li a:hover em {
  transform: rotate(180deg);
}

/*子导航*/
.mainNavWrapContentList li .childrenNav {
  width: 100000px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: -200000px;
  border-bottom: 1px solid #ccc;
}

.mainNavWrapContentList .heelTour .childrenNavContent {
  left: 0;
}

.mainNavWrapContentList li .childrenNavContent {
  width: 1000px;
  position: absolute;
  top: 40px;
  font: 12px/2 "微软雅黑";
  padding: 8px 0;
  margin: 0 10px 0 5px;
  z-index: 999;
  display: none;
}

.mainNavWrapContentList .childrenNavContent a {
  float: left;
  color: #000;
}

.mainNavWrapContentList li:hover .childrenNav {
  left: -10000px;
}

.mainNavWrapContentList li:hover .childrenNavContent {
  display: block;
}

/*旅游内容*/
.productBody {
  width: 1188px;
  margin: 20px auto 0;
  border: 1px solid #ddd;
  padding: 4px 28px;
  background-color: #fff;
}

.productBody h3 {
  font: 21px/61px "微软雅黑";
  color: #111;
}

.productBody .tourismType {
  font: 12px/16px "微软雅黑";
}

.productBody .tourismType > strong,
.productBody .tourismType > span {
  float: left;
}

.productBody .tourismType > strong {
  color: #fff;
  background-color: #2dbb55;
  padding: 0 2px;
  margin-right: 10px;
}

.tourismType > span i {
  color: #f80;
}

.productBody .productBodyIntroduce {
  margin-top: 12px;
}

.productBody .productBodyIntroduce .pictureShowAndTime {
  width: 500px;
  float: left;
}

.pictureShow .pictureShowList li {
  float: left;
}

.pictureShow .pictureShowBtn {
  padding: 5px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.pictureShow .pictureShowBtn .pictureShowBtnLeft {
  text-indent: 0.6em;
  width: 28px;
  height: 50px;
  float: left;
}

.pictureShow .pictureShowBtn .pictureShowBtnLeft:hover,
.pictureShow .pictureShowBtn .pictureShowBtnRight:hover {
  background-color: #ccc;
}

.pictureShowBtn .pictureShowBtnLeft i {
  display: inline-block;
  height: 18px;
  width: 11px;
  background: url("../img/icon.png") no-repeat -176px -214px;
  margin: 16px auto 0;
}

.pictureShowBtn .pictureShowBtnList {
  float: left;
  overflow: hidden;
  width: 432px;
}

.pictureShowBtn .pictureShowBtnList li {
  float: left;
  margin: 0 4px;
}

.pictureShowBtn .pictureShowBtnRight {
  text-indent: 0.8em;
  width: 28px;
  height: 50px;
  float: right;
}

.pictureShowBtn .pictureShowBtnRight i {
  display: inline-block;
  height: 18px;
  width: 11px;
  background: url("../img/icon.png") no-repeat -366px -196px;
  margin: 16px auto 0;
}

/*日历*/
.calendarWrap {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
}

.calendarWrap .monthSelecte {
  padding: 0 37px;
  font: 12px/16px "微软雅黑";
  border-right: 1px solid #ddd;
}

.calendarWrap .monthSelecte li {
  float: left;
}

.monthSelecte li a {
  display: block;
  padding: 4px 18px;
}

.monthSelecte li strong {
  color: #666;
}

.monthSelecte li span {
  display: block;
  color: #ff6600;
}

.calendarWrap .monthSelecte .active {
  background-color: #535d63;
}

.monthSelecte .active strong {
  color: #fff;
}

.calendarList .weekList {
  background-color: #535d63;
  color: #fff;
  font: 12px/26px "微软雅黑";
  border-right: 1px solid #ddd;
}

.calendarList .weekList li {
  float: left;
  padding: 0 29px;

}

/*日历*/
#calendarContentList {
  font: 12px/16px "微软雅黑", arial;
}

#calendarContentList > li {
  width: 71.2px;
  height: 48px;
  float: left;
  text-indent: .5em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font: 12px/14px "微软雅黑";
  position: relative;
}

#calendarContentList li .mask {
  width: 320px;
  position: absolute;
  top: 47px;
  left: 0;
  transition: .5s;
  transform: scale(0);
  background-color: #fff;
  z-index: 999;
  padding: 5px 10px;
  box-shadow: 0 0 3px #f60;
}

#calendarContentList li:hover .mask {
  transform: scale(1);
}

#calendarContentList .mask i {
  position: absolute;
  top: -6px;
  left: 38px;
  width: 10px;
  height: 6px;
  background: #fff url("../img/maskIcon.png");
}

#calendarContentList .maskContent span,
#calendarContentList .maskContent strong {
  display: inline;
  font: 12px/30px "微软雅黑";
}

#calendarContentList .maskContent div {
  float: left;
  margin-right: 30px;
}

#calendarContentList li span {
  display: block;
  width: 100%;
  color: #999;
  text-align: center;
}

#calendarContentList li strong {
  display: block;
  width: 100%;
  text-align: center;
  color: #f60;
}

.pictureShowAndTime .prompt {
  font: 12px/3 "微软雅黑";
  color: #999;
}

/*票价详情*/
.productBody .productBodyIntroduce .pictureShowAndTimeDetails {
  width: 630px;
  float: left;
}

.pictureShowAndTimeDetails .ticketPrice {
  width: 664px;
  background-color: #ebe2e3;
  position: relative;
  padding: 15px 0;
  color: #999;
}

.pictureShowAndTimeDetails .ticketPrice > i {
  position: absolute;
  right: 1px;
  bottom: -4px;
  border: none;
  border-left: 4px solid #a4371a;
  border-bottom: 4px solid transparent;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: 0;
}

.pictureShowAndTimeDetails .ticketPrice .ticketPriceContent {
  margin-left: 50px;
}

.ticketPrice .ticketPriceContent * {
  display: inline-block;
}

.ticketPrice .ticketPriceContent > span {
  font: 12px/54px "微软雅黑";
}

.ticketPrice .ticketPriceContent strong {
  font: bold 24px/54px "微软雅黑";
  color: #ff6600;
}

.ticketPriceContent > span > span {
  color: #f60;
}

.ticketPriceContent > span > a {
  margin-left: 20px;
  border-bottom: 1px dashed #f60;
  color: #f60;
  line-height: 1.2;
}

.evaluate {
  margin-left: 180px;
}

.evaluate .satisfaction {
  width: 40px;
  font: 12px/2 '微软雅黑';
  margin-right: 30px;
}

.evaluate .satisfaction a {
  color: #f60;
  font: bold 20px/24px arial;
}

.satisfaction a i {
  font: 12px/1 '微软雅黑';
}

.evaluate .comment {
  width: 150px;
  font: 12px/2 '微软雅黑';
}

.evaluate .comment a {
  color: #999;
}

.pictureShowAndTimeDetails .ticketType {
  padding: 7px 0 0 30px;
}

.pictureShowAndTimeDetails .ticketType .ticketTypeOK {
  padding: 0 15px 10px 10px;
  font: 12px/35px "微软雅黑";
  color: #999;
  border-bottom: 1px dotted #ccc;
}

.ticketTypeOK .Lately * {
  float: left;
}

.ticketTypeOK .Lately strong {
  margin-left: 15px;
}

.ticketTypeOK .Characteristic * {
  float: left;
}

.Characteristic li {
  margin-right: 20px;
  color: #666;
}

.Characteristic li i {
  padding-left: 12px;
  height: 12px;
  background: url("../img/icon.png") no-repeat -90px -196px;
  margin: 12px 4px 0 10px;
}

.ticketTypeTwoOK * {
  float: left;
}

.ticketTypeTwoOK strong {
  margin-left: 10px;
  color: #666;
}

.tourOperator {
  height: 50px;
  font: bold 14px/50px "微软雅黑";
  color: #666;
}

.tourOperator img {
  margin-right: 15px;
}

.tourOperator div:nth-of-type(1) {
  float: left;
}

.tourOperator .customerSer {
  float: right;
}

.customerSer > * {
  float: left;
}

.customerSer .phone {
  margin-right: 35px;
  color: #999999;
}

.customerSer .phone span {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
  background: url("../img/icon.png") no-repeat -276px -250px;
}

.customerSer .inPhone {
  color: #999;
}

.customerSer .inPhone span {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
  background: url("../img/icon.png") no-repeat -262px -273px;
}

.ticketType .setOut {
  font: 12px/42px "微软雅黑";
  color: #999;
  padding-left: 10px;
}

.setOut .button {
  margin: 28px 0 0 77px;
}

.setOut .button a:nth-of-type(1) {
  text-align: center;
  float: left;
  width: 132px;
  background-color: #f60;
  color: #fff;
  font: bold 18px/40px "微软雅黑";
  margin-right: 20px;
}

.setOut .button a:nth-of-type(2) {
  text-align: center;
  float: left;
  width: 105px;
  margin-top: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  font: bold 12px/30px "微软雅黑";
  color: #f60;
}

.setOut .button a:nth-of-type(2) i {
  margin-left: 5px;
  margin-top: 2px;
  vertical-align: text-top;
  background-image: url(../img/icon.png);
  background-position: -187px -214px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}

/*内容导航*/
header {
  width: 1188px;
  background-color: #535d63;
  top: 0;
  left: 359px;
  z-index: 99999;
}

.headerNav {
  padding: 5px 16px 0;
}

.headerNav > span {
  float: left;
  padding: 0 12px;
  font: 16px/40px "微软雅黑";
  color: #fff;
}

#content {
  width: 1188px;
}

.box {
  padding: 20px 19px;
  border: 1px solid #ddd;
  background-color: #fff;
}


/*公用标题*/
.discountIcon {
  float: left;
  width: 70px;
  height: 70px;
  background: url("../img/icon.png") -174px -604px no-repeat;
  font: 20px/1 "微软雅黑";
  margin-right: 30px;
}

.discountIcon > h3 {
  color: #fff;
  width: 40px;
  margin: 14px 12px;
}
/*线路详情*/
.productDetailsContent > div {
  float: left;
}

.lineStep {
  width: 72px;
  height: 100px;
  border-right: 2px solid #ddd;
}

/*产品详情*/
.reason {
  width: 1000px;
  margin-left: 20px;
}

.productDetailsContent {
  float: left;
}

.productDetailsWrap {
  padding: 30px 20px;
  background-color: #fff;
}

/*线路日程*/
.LineSchedule {
  margin-top: 20px;
  padding: 30px 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.LineScheduleContent {
  float: left;
  width: 1028px;
}

.LineScheduleContentTitle {
  font: bold 20px/36px "微软雅黑";
}

.scheduleList {
  position: static;
  left: auto;
  top: auto;
  font: 12px/2 "微软雅黑";
  background: url("../img/bgBorder.png") no-repeat 77px 0;
}

.scheduleList li > a {
  display: inline-block;
  background-color: #eee;
  margin-bottom: 10px;
  width: 60px;
  text-align: center;
  color: #666;
}

.scheduleList > .border {
  float: right;
  height: 100%;
  width: 2px;
  background-color: green;
}

.scheduleList .active + i {
  box-shadow: 0 0 5px 2px green;
}

.scheduleList li > i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10px;
}

.scheduleList .active {
  background-color: #22c233;
}

.scheduleList .active > a {
  color: #fff;
}

.dayDetailedTitle {
  display: block;
  width: 100%;
  font: bold 20px/36px "微软雅黑";
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.dayDetailed {
  margin-left: 20px;
  font: 14px/30px "微软雅黑";
}

.dayDetailed > div {
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;
}

.dayDetailed > div > strong {
  color: #999;
}

.dayDetailed > div > span {
  color: #999;
  padding-left: 10px;
}

.imgBox {
  margin-left: 40px;
}

.activeContentList > span {
  display: block;
}

.activeContentList > span > p {
  width: 100%;
  margin-left: 20px;
}

.activeContentList > span > .information {
  font: bold 15px/2.5 "微软雅黑";
  margin-left: 10px;
}

.imgBox img {
  width: 400px;
  height: 300px;
  margin: 20px 20px;

}
/*加载遮罩*/
.loadingMask .loadingContentBox {
  width:100%;
  text-align: center;
  color: #409eff;
  position: absolute;
  z-index:22;
  top:50%;
}
.loadingMask .loadingContentBox i {
  width: 31px;
  height: 32px;
  background: url("../img/loadingICon.png") no-repeat;
  display: block;
  margin:0 auto 10px;
  animation: rotating 2s linear infinite;
}
/*登录弹层*/
.loginMask,
.loadingMask{
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loginMask .maskBox,
.loadingMask .loadingMaskBox{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .3;
}

.loginMask .loginBox {
  width: 345px;
  position: absolute;
  top: 50%;
  margin-top: -195px;
  left: 50%;
  margin-left: -172px;
  background-color: #fff;
  font: 16px/47px "微软雅黑";
  z-index: 22;
}

.loginMask .loginBoxTitle {
  border-bottom: 1px solid #eaeaea;
}

.loginMask .loginBoxTitle h4 {
  color: #3ac749;
  text-align: center;
}

.loginMask .loginBoxTitle a {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  top: -6px;
  right: 0;
  color: #a09f9f;
  transition: .5s;
  transform-origin: center 18px;
}

.loginMask .loginBoxTitle a:hover {
  transform: rotate(180deg);
}

.loginMask .loginBoxInput {
  padding: 40px 30px;
}

.loginMask input {
  border: none;
  outline: none;
  background-color: #fff;
}

.loginMask .loginBoxInput {
  font: 12px/40px "微软雅黑";
}

.loginMask .loginBoxInput .loginAccountNumber {
  width: 285px;
  height: 30px;
  padding: 20px 5px 20px 40px;
  outline: #ddd solid;
  background: url("../img/loginIcon1.png") no-repeat 8px 8px;
}

.loginMask .loginBoxInput .loginPassword {
  width: 285px;
  height: 30px;
  padding: 20px 5px 20px 40px;
  outline: #ddd solid;
  background: url("../img/loginIcon2.png") no-repeat 8px 8px;
  margin-top: 20px;
}

.loginMask .loginBoxInput .getNumber {
  position: absolute;
  padding: 0 8px;
  top: 20px;
  right: 0;
  border-left: 1px solid #ddd;
  background-color: #eee;
  color: #999;
}

.loginMask .loginBoxInput .loginBtn {
  font: 18px/40px "微软雅黑";
  width: 100%;
  background-color: #f60;
  margin-top: 20px;
  color: #fff;
}

/*套餐说明*/
.packageDescription {
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 30px 20px;
}

.packageDescriptionContent {
  float: left;
  width: 1028px;
}

.buyNeedToKnow > * {
  float: left;
}

.buyNeedToKnow .couponsActiveWrap {
  width: 1028px;
}

.wrapMoney,
.unsubscribePolicy,
.buyNeedToKnow,
.noWrapMoney {
  margin-top: 20px;
}

.wrapMoneyContent,
.unsubscribePolicyContent,
.buyNeedToKnowContent,
.noWrapMoneyContent {
  margin-left: 20px;
}


